/***********************************************
****************GENERAL-SECTION*****************
***********************************************/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: lato,sans-serif;
    font-size: 16px;
    /*min-height: 5000px;*/
}
body h2{
    font-weight: 100;
}

.margin-bottom-80{
    margin-bottom: 80px;
}

.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-50{
    margin-bottom: 50px;

}
.margin-bottom-20{
    margin-bottom: 20px;

}
.margin-bottom-40{
    margin-bottom: 40px;

}

.margin-bottom-15{
    margin-bottom: 15px;
    
}

.space{
    height: 20px;
    background: #fff;
}

.space-80{
    height:80px;
    background: #fff;
}
.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.text-center{
     text-align: center;
}
.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.heading1{
    font-size: 24px;
    /*letter-spacing: 4px;*/
    font-family: verdana, sans-serif;
    
    margin-left: 0px;
    
}

.text-justify{
    text-align: justify;
}

.center{
    width: 95.3%;
    margin: 0 auto;
}
hr{
    color: #efefef;
    height: 1px;
    background: #eee;
    border: none;
    
    
}



/***********************************************
********************NAV-BAR*********************
***********************************************/

.navbar{
    width: 100%;
    height: 50px;
}

.navbar-light{
    width: 100%;
    background:#fff;
    color: #000;
    /*box-shadow: 1px 1px 6px 0 #777;*/
    box-shadow: 0 0px 1px -2px rgba(0,0,0,0.7);
}
.navbar-fixed{
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 9999;
}

.menu-item{
    
    color: black;
    box-sizing: border-box;
    background: #fff;
    display: inline;
    letter-spacing: 4px;
    margin: 5px;
    padding: 10px 20px;
    line-height: 50px;
    /*font-weight: 700;*/
    box-sizing: border-box;
}

.menu-item a:link,
.menu-item a:visited{
    color:#000;
    text-decoration: none;
}

.menu-item:hover{
    background: #bbb;
}

.menu-item a span{
    font-family: verdana;
    font-size: 16px;
    font-weight:bolder;
}

/***********************************************
********************MAIN-IMAGE******************
***********************************************/

.image{
    width: 99%;
    margin: 50px auto;
   /* position : relative: ;*/
}

.heading span{
    
    background: rgba(0,0,0,0.7);
    padding: 10px;
    font-weight: 900;
    color: none;
    font-size: 36px;
    
}
.heading{
    position: absolute;
    top:55%;
    left: 40%;
    color: white;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 36px;
    
}


.clearfix{
    margin-left: -9px;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.clearfix .last-col{
    float: right;
}
/***********************************************
********************PROJECTS******************
***********************************************/

.image-col-1{
    width: 1460px;
    height: auto;
    box-sizing: border-box;
    /*float: left;*/
    /*padding: 0 40px;*/
    margin: 0 20px;
    margin-bottom: 0;
    position: relative;
}
.padding{
    padding-left: 10px;
    /*padding-right: 4px;*/
    padding-bottom: 6px;
}
.house-title{
    position: absolute;
    /*top: 10px;*/
    top:0px;
    left:10px;
    color: #fff;
    background: #000;
    padding: 5px;
    margin-top: 0;
}
.Brick-house-title{
  
    left:374px;
    
}
.Renovated-house-title{
    left: 737px;
}

.Barn-house-title{
    left:1101px;
}

.summer-house{
    /*padding: 0 10px 0 0;*/
}
.1st-col{
    padding-left: 0;
}
.last-col{
    padding-right: 0;
}
.display{
    display: inline;
}


.name{
    font-family: lato;
    font-size: 24px;
    font-weight: 400;
}
/***********************************************
*****************MANAGE-COLUMNS*****************
***********************************************/

.col-25{
    width: 25%;
    float: left;
    padding: 0 5px;
    box-sizing: border-box;
    display: inline;
}
.w-95{
    width: 95%;
}
.col-100{
    width: 100%;
    padding: 0 0 0 9px;
    
}
.portfolio{
    position: relative;
}

/*.background{
    width: 100%;
    height: 85%;
    background: rgba(0,0,0,1);
        
} */
.overlay{
    position: absolute;
    width: 100%;
    height: 91%;
    background: rgba(50,50,50,0.6);
    color: #111;
    top: 0;
    left: 0;
    display:block; 
}
/***********************************************
*****************SECTION-ABOUT******************
***********************************************/

.grayscale{
    filter: grayscale(80%);
}

.section-about .paragraph , form-msg{ 
    font-size: 16px;
    font-family: verdana,sans-serif;
}

.event-card{
    display: inline;
    

}
.people-section{
  /* background: blue;  */  
}

.event-details .designation{
    color:#aaa;
    width: 95%;     
}

.event-details{
    width: 95%;
}
/***********************************************
*****************Button-ABOUT******************
***********************************************/

.btn{
    width: 100%;
    color:#111;
    background: #eee;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    margin: 0 auto;
    padding: 10px 145px;
}

.btn:hover{
    background: #aaa;
}


/***********************************************
****************CONTACT_US*****************
***********************************************/


.contact-us{
    height: auto;
    /*background: #111;*/
}

form{

    margin: 0;
}
input[type=text],input[type=email]{
    display: block;
    width: 98%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    font-family: verdana;
}


.send-btn{
    color: #fff;
    background: #111;
    padding: 10px 14px;
    font-family: verdana;
    font-size: 16px;
    border: none;
    margin: 10px 0 0 0;
}

.footer{
    background: #000;
    height: 100px;
    color: #fff;
    line-height: 100px;
    
}

























